.theme-dark .container-1ETFDs.unread-2OHH1w:before {
    background: var(--main-color);
    animation: var(--unread-server-animation) 3s linear infinite;
}

@keyframes rainbow {
    0% {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }
    100% {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
